.btn {
  font-size: 1.25rem;
  background-color: #0e0253;
  border: none;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
}

.btn--principal:hover {
  background-color: #3d9af3;
}

.btn {
  font-size: 1.25rem;
  background-color: #0e0253;
  border: none;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
}

.btn--footer:hover {
  background-color: #3d9af3;
}

.btn--atracciones:hover {
  background-color: #3d9af3;
}
