* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: auto 10px;
}

.header__list {
  display: flex;
  align-items: baseline;
}

.header__list .header__item {
  margin: 0 10px;
  list-style-type: none;
}

.header__item .header__link {
  text-decoration: none;
  font-size: 1.5rem;
}

.header__item .header__link {
  text-decoration: none;
  font-size: 1.5rem;
}

.section {
  width: 100%;
  background-image: url(../asset/header_isla.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  margin: 0 auto;
  padding: 100px;
  background-size: cover;
  display: flex;
  align-items: center;
}

.section__contenedor {
  /* width: 500px;
  padding: 20px 30px;
  position: relative;
  left: 30px; */
  width: 50%;
  font-size: 3rem;
  color: white;
}

.section__contenedor h1 {
  width: 100%;
  padding-bottom: 10px;
}

.btn {
  font-size: 1.25rem;
  background-color: #0e0253;
  border: none;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
}

.btn--principal:hover {
  background-color: aqua;
}

.sectionMain {
  width: 100%;
  height: auto;
  display: flex;
}

.sectionMain iframe {
  width: 700px;
  height: 250px;
}

.sectionMain__contenedor {
  flex-basis: 100%;
  gap: 50px;
  padding: 20px;
}

.sectionMain__titulo {
  font-size: 2rem;
  color: #0e0253;
}

.sectionMain__parrafo {
  padding: 20px 20px 20px 0;
}

/* ATRACCIONES */

.atracciones {
  display: flex;
  flex-direction: column;
}

.atracciones h2 {
  text-align: center;
  margin-bottom: 50px;

  color: #0e0253;
  font-size: 2rem;
}

.atracciones__contenedor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.atracciones__contenedor div {
  width: 25%;
}

.atracciones__contenedor .atraccion__imagen {
  width: 100%;
  text-align: center;
}

.atracciones__contenedor div img {
  max-width: 100%;
  min-width: 100%;
  max-height: 250px;
  min-height: 250px;
  padding: 10px;
}

.atracciones__contenedor h3 {
  text-align: center;

  color: #0e0253;
  font-size: 2rem;
}

.atracciones__contenedor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.atracciones__contenedor div {
  width: 25%;
}

.atracciones__contenedor .atraccion__imagen {
  width: 100%;
  text-align: center;
}

.atracciones__contenedor div img {
  max-width: 100%;
  min-width: 100%;
  max-height: 250px;
  min-height: 250px;
  padding: 10px;
}

.atraccion__contenedor h3 {
  text-align: center;
  font-size: 1.4rem;
  color: #0e0253;

  font-size: 1.4rem;
  color: #0e0253;

  margin: 10px 0 25px 0;
}

.atracciones__parrafo {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 0 10px 10px 10px;
  margin-bottom: 25px;
  height: 150px;
}

.atracciones__btn {
  width: 100% !important;
  text-align: center;
}

.atracciones__btn .btn--atracciones:hover {
  background-color: #3d9af3;
}

.footer__contenedor {
  padding: 50px 0;
  width: 100%;
}

.footer__contenedor .footer__form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer__contenedor .footer__titulo {
  font-size: 1.4rem;
  color: #0e0253;
  font-weight: bolder;
  text-align: center;
}

.footer__contenedor .footer__form,
.nombre,
.apellido,
.email,
.pais,
.mensaje {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  padding: 15px 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: darkslategrey;
  transition: all 1s ease;
  margin-bottom: 20px;
}

.slider__contenedor--2 {
  display: none;
}

.slider__contenedor {
  margin: auto;
  width: 100%;
  padding: 30px;
}

.slider__list .slider__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__list {
  position: relative;
  height: 300px;
  width: 100%;
}

.slider__list .slider__item {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: 0.5s;
  padding: 5px;
}

/* .slider__list .slider__item .slider__img {
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
  min-height: 300px;
  object-fit: cover;
} */

.slider__list .slider__item:first-child {
  opacity: 1;
}

.slider__list .slider__item:target {
  opacity: 1;
}

.slider__menu {
  text-align: center;
  margin: 20px;
}

.slider__menu .slider__menu__item {
  display: inline-block;
  text-align: center;
}

.slider__menu .slider__menu__item .slider__link {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #3d9af3;
  width: 40px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 5px;
  padding-top: 10px;
}

.slider__menu .slider__menu__item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contacto {
  padding: 50px 0;
}

.contacto h1 {
  color: #0e0253;
  font-size: 2.8rem;
  font-weight: bolder;
  margin: 20px 0;
  text-align: center;
}

.contacto .contacto__contenedor .contacto__formulario {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contacto .contacto__formulario .nombre,
.apellido,
.correo,
.contacto__pais,
.contacto__mensaje {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  padding: 15px 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  color: darkslategrey;
  transition: all 0.6s ease;
  margin-bottom: 20px;
}

.contacto .nombre,
.apellido,
.correo,
.contacto__pais {
  width: 46%;
  margin-bottom: 20px;
}

.contacto .contacto__mensaje {
  width: 96%;
  max-width: 96%;
  min-width: 96%;
  min-height: 100px;
  max-height: 300px;
}

.contacto__formulario .nombre:focus,
.contacto__formulario .apellido:focus,
.contacto__formulario .correo:focus,
.contacto__formulario .contacto__pais:focus,
.contacto__formulario .contacto__mensaje:focus {
  border-bottom: 2px solid #3d9af3;
}

.contacto .btn {
  margin: auto;
  padding: 15px 25px;
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  border: none;
  background: none;
  background-color: #3d9af3;
  color: #0e0253;
  border-radius: 5px;
  cursor: pointer;
}

.contacto .btn:hover {
  background-color: aqua;
}

.foot {
  padding: 40px 20px;
  background-color: #ccd1d6;
}

.foot .foot__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot__list .foot__item {
  list-style: none;
}

.foot__link {
  text-decoration: none;
  margin: 0px 10px;
  color: #0e0253;
  font-size: 1.1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-weight: bolder;
}

/*===>Mobile<===*/

@media only screen and (max-width: 1400px) {
  .sectionMain {
    flex-direction: column;
    text-align: center;
  }

  .sectionMain iframe {
    width: 100%;
    /* margin-bottom: 25px; */
  }

  .sectionMain div h2 {
    margin-bottom: 25px;
  }

  .atraccion__contenedor div {
    width: 50%;
  }

  .atraccion__contenedor .atraccion__imagen {
    width: 75%;
    margin: 0 auto;
  }

  .atracciones__parrafo {
    height: 125px;
  }

  .atraccion__btn {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .section {
    padding: 0;
    text-align: center;
  }

  .section__contenedor {
    width: 100%;
    font-size: 2rem;
    padding: 10px;
  }

  .section__contenedor h1 {
    margin-bottom: 20px;
  }

  .btn {
    font-size: 1.25rem;
    background-color: #0e0253;
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
  }

  .atraccion__contenedor div {
    width: 100%;
  }

  .atracciones__parrafo {
    height: auto;
  }
}

@media screen and (max-width: 376px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__nav {
    width: 100%;
    display: flex;
  }

  .header__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header__item {
    list-style-type: none;
    margin: 1px auto;
    align-items: center;
  }

  .header__link {
    font-size: 1rem;
    text-decoration: none;
  }

  .section {
    display: flex;
    background-image: none;
    width: 100%;
    overflow: hidden;
  }

  .header__logo {
    width: 30%;
    margin: 0 auto;
  }

  .sectionMain__contenedor .sectionMain_video {
    width: 100%;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 0 0 80px;
    padding: 20px 30px;
    font-size: 1.1rem;
    overflow: hidden;
  }

  .sectionMain__titulo,
  .sectionMain__parrafo {
    display: none;
  }

  .atracciones--dunes,
  .atracciones--mall,
  .atracciones--playas,
  .atracciones--castillos {
    width: 100%;
  }

  .atracciones__parrafo {
    display: none;
  }

  .atracciones__btn {
    display: none;
  }

  .atraccion__contenedor {
    display: none;
  }

  .slider__contenedor {
    display: none;
  }

  .slider__contenedor--2 {
    display: initial;
    width: 50%;
    overflow: hidden;
  }
}
