* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
  position: absolute;
}

.header {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  flex-wrap: wrap;
  background-image: url(../asset/pexels-streetwindy-3748827.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

.header__logo {
  width: 10%;
}

.header__list {
  display: flex;
  list-style: none;
  font-size: 1.4rem;
}

.header__link {
  margin: 0 10px;
  text-decoration: none;
  color: #0e0253;
  font-size: 1.4rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header__link:hover {
  border-bottom: 2px solid #3d9af3;
}

.section {
  background-image: url(../asset/header_isla.jpg);
  width: 97%;
  height: 70vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.section__contenedor {
  width: 645px;
  padding: 20px 30px;
  position: relative;
  left: 30px;
}

.section__titulo {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 9px;
  color: #0e0253;
}

.btn {
  background-color: #3d9af3;
  border: none;
  color: wheat;
  padding: 12px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.main .btn:hover {
  background-color: aqua;
}
.sectionMain {
  padding: 20px 45px;
  display: flex;
  align-items: center;
}

.sectionMain__contenedor {
  flex-basis: 100%;
  gap: 50px;
}

.sectionMain__titulo {
  font-size: 2.5rem;
  color: #0e0253;
}

.atraccioines {
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
}

.atraccion__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.atracciones--dunes,
.atracciones--playas,
.atracciones--mall,
.atracciones--castillos {
  max-width: 100%;
  padding: 20px 10px;
  object-fit: cover;
}

.atracciones--castillos {
  height: 265px;
}

.atracciones--mall {
  height: 265px;
}

.atraccion__titulo--center {
  color: #0e0253;
  font-size: 2.5rem;
  padding: 15px;
}

.atracciones__titulo {
  font-size: 1.4rem;
  color: #0e0253;
  padding: 5px 10px;
}

.atracciones__parrafo {
  padding: 0 10px;
}

.atracciones__btn {
  background-color: #3d9af3;
  border: none;
  color: wheat;
  padding: 12px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 10px;
}

.atraccioines .atracciones__btn:hover {
  background-color: aqua;
}

.footer__contenedor {
  padding: 50px 0;
  width: 100%;
}

.footer__contenedor .footer__form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer__contenedor .footer__titulo {
  font-size: 1.4rem;
  color: #0e0253;
  font-weight: bolder;
  text-align: center;
}

.footer__contenedor .footer__form,
.nombre,
.apellido,
.email,
.pais,
.mensaje {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  padding: 15px 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: darkslategrey;
  transition: all 1s ease;
  margin-bottom: 20px;
}

.slider__contenedor--2 {
  display: none;
}

.slider__contenedor {
  margin: auto;
  width: 100%;
  padding: 30px;
}

.slider__list .slider__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__list {
  position: relative;
  height: 300px;
  width: 100%;
}

.slider__list .slider__item {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: 0.5s;
  padding: 5px;
}

.slider__list .slider__item .slider__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.slider__list .slider__item:first-child {
  opacity: 1;
}

.slider__list .slider__item:target {
  opacity: 1;
}

.slider__menu {
  text-align: center;
  margin: 20px;
}

.slider__menu .slider__menu__item {
  display: inline-block;
  text-align: center;
}

.slider__menu .slider__menu__item .slider__link {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #3d9af3;
  width: 40px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 5px;
  padding-top: 10px;
}

.slider__menu .slider__menu__item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contacto {
  padding: 50px 0;
}

.contacto h1 {
  color: #0e0253;
  font-size: 2.8rem;
  font-weight: bolder;
  margin: 20px 0;
  text-align: center;
}

.contacto .contacto__contenedor .contacto__formulario {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contacto .contacto__formulario .nombre,
.apellido,
.correo,
.contacto__pais,
.contacto__mensaje {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  padding: 15px 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  color: darkslategrey;
  transition: all 0.6s ease;
  margin-bottom: 20px;
}

.contacto .nombre,
.apellido,
.correo,
.contacto__pais {
  width: 46%;
  margin-bottom: 20px;
}

.contacto .contacto__mensaje {
  width: 96%;
  max-width: 96%;
  min-width: 96%;
  min-height: 100px;
  max-height: 300px;
}

.contacto__formulario .nombre:focus,
.contacto__formulario .apellido:focus,
.contacto__formulario .correo:focus,
.contacto__formulario .contacto__pais:focus,
.contacto__formulario .contacto__mensaje:focus {
  border-bottom: 2px solid #3d9af3;
}

.contacto .btn {
  margin: auto;
  padding: 15px 25px;
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  border: none;
  background: none;
  background-color: #3d9af3;
  color: #0e0253;
  border-radius: 5px;
  cursor: pointer;
}

.contacto .btn:hover {
  background-color: aqua;
}

.foot {
  padding: 40px 20px;
  background-color: #ccd1d6;
}

.foot .foot__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot__list .foot__item {
  list-style: none;
}

.foot__link {
  text-decoration: none;
  margin: 0px 10px;
  color: #0e0253;
  font-size: 1.1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-weight: bolder;
}

/*===>MOBILE<===*/

@media screen and (max-width: 376px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  .section {
    display: flex;
    background-image: none;
    width: 100%;
    overflow: hidden;
  }

  .header__logo {
    padding-bottom: 10px;
    width: 10%;
  }

  .section__titulo {
    /* display: flex; */
    align-items: center;
    width: 100%;
    margin: 0 0 0 40px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 0 0 80px;
    padding: 20px 30px;
    font-size: 1.1rem;
    overflow: hidden;
  }

  .sectionMain__titulo,
  .sectionMain__parrafo {
    display: none;
  }

  .atracciones--dunes,
  .atracciones--mall,
  .atracciones--playas,
  .atracciones--castillos {
    width: 50%;
  }

  .atracciones__parrafo {
    display: none;
  }

  .atracciones__btn {
    display: none;
  }

  .atraccion__contenedor {
    display: none;
  }

  .slider__contenedor {
    display: none;
  }

  .slider__contenedor--2 {
    display: initial;
    width: 50%;
    overflow: hidden;
  }
}
