* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: auto 15px;
  max-height: 100px;
  margin-bottom: 20px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__item {
  margin: 0 10px;
  list-style-type: none;
}

.header__link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #0e0253;
  font-weight: bold;
}

.header__link:hover {
  border-bottom: 2px solid #3d9af3;
}

.section {
  width: 100%;
  background-image: url(../asset/header_isla.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  margin: 0 auto;
  padding: 100px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__contenedor {
  width: 50%;
  font-size: 3rem;
  color: white;
}

.section__contenedor h1 {
  width: 100%;
  padding-bottom: 10px;
}

.btn {
  font-size: 1.25rem;
  background-color: #0e0253;
  border: none;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
}

.btn--principal:hover {
  background-color: #3d9af3;
}

.btn--footer:hover {
  background-color: #3d9af3;
}

.btn--atracciones:hover {
  background-color: #3d9af3;
}

.btn {
  font-size: 1.25rem;
  background-color: #0e0253;
  border: none;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
}

.sectionMain {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionMain iframe {
  width: 700px;
  height: 250px;
}

.sectionMain__contenedor {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  gap: 50px;
  padding: 20px;
  margin: 20px 0;
}

.sectionMain__titulo {
  font-size: 2.7rem;
  color: #0e0253;
}

.sectionMain__parrafo {
  padding: 20px 20px 20px 0;
}

.section--secundary {
  width: 90%;
  margin: 0 auto;
}

.atracciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.atracciones h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #0e0253;
  font-size: 3rem;
  margin-top: 20px;
}

.atracciones__contenedor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.atracciones__contenedor div {
  width: 25%;
}

.atracciones__contenedor .atracciones__imagen {
  width: 100%;
  text-align: center;
}

.atracciones__contenedor div img {
  max-width: 100%;
  min-width: 100%;
  max-height: 250px;
  min-height: 250px;
  padding: 10px;
}

.atracciones__contenedor h3 {
  text-align: center;
  font-size: 2rem;
  color: #0e0253;
  margin: 10px 0 25px 0;
}

.atracciones__parrafo {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 0 10px 10px 10px;
  margin-bottom: 25px;
  height: 150px;
}

.atracciones__btn {
  width: 100% !important;
  text-align: center;
}

.slider__contenedor {
  margin: auto;
  width: 100%;
  padding: 30px;
}

.slider__contenedor .slider__list .slider__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__contenedor .slider__list {
  position: relative;
  height: 300px;
  width: 100%;
}

.slider__contenedor .slider__list .slider__item {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 5px;
}

.slider__contenedor .slider__list .slider__item .slider__img {
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__contenedor .slider__list .slider__item:first-child {
  opacity: 1;
}

.slider__contenedor .slider__list .slider__item:target {
  opacity: 1;
}

.slider__contenedor .slider__menu {
  text-align: center;
  margin: 20px;
}

.slider__contenedor .slider__menu .slider__menu__item {
  display: inline-block;
  text-align: center;
}

.slider__contenedor .slider__menu .slider__menu__item .slider__link {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #3d9af3;
  width: 40px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 5px;
  padding-top: 10px;
}

.slider__contenedor .slider__menu .slider__menu__item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contacto {
  padding: 50px 0;
}

.contacto h1 {
  color: #0e0253;
  font-size: 2.8rem;
  font-weight: bolder;
  margin: 20px 0;
  text-align: center;
}

.contacto .contacto__contenedor .contacto__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacto .contacto__formulario .nombre,
.contacto .apellido,
.contacto .correo, .contacto__pais, .contacto__mensaje {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  padding: 15px 20px;
  font-size: 1rem;
  color: darkslategrey;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  margin-bottom: 20px;
  font-family: "Nunito";
}

.contacto .nombre,
.contacto .apellido,
.contacto .correo, .contacto__pais {
  width: 46%;
  margin-bottom: 20px;
}

.contacto .contacto__mensaje {
  width: 96%;
  max-width: 96%;
  min-width: 96%;
  min-height: 100px;
  max-height: 300px;
}

.contacto__formulario .apellido:focus,
.contacto__formulario .correo:focus,
.contacto__formulario .nombre:focus,
.contacto__formulario .contacto__pais:focus,
.contacto__formulario .contacto__mensaje:focus {
  border-bottom: 2px solid #3d9af3;
}

.foot {
  padding: 40px 20px;
  background-color: #ccd1d6;
}

.foot .foot__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot__list .foot__item {
  list-style: none;
}

.foot__link {
  text-decoration: none;
  margin: 0px 10px;
  color: #0e0253;
  font-size: 1.1rem;
  font-weight: bolder;
  font-weight: bolder;
}

@media only screen and (max-width: 1400px) {
  .sectionMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .sectionMain iframe {
    width: 100%;
  }
  .sectionMain div h2 {
    margin-bottom: 25px;
  }
  .atracciones__contenedor div {
    width: 50%;
  }
  .atracciones__contenedor h3 {
    font-size: 2rem;
  }
  .atracciones__contenedor .atracciones__imagen {
    width: 75%;
    margin: 0 auto;
  }
  .atracciones__parrafo {
    height: 125px;
    margin-bottom: 0;
  }
  .atracciones__btn {
    margin-bottom: 50px;
  }
  .contneedor__hotles {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    width: 50%;
  }
  .header__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav .header__list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__item {
    margin: 0 5px;
  }
  .header__link {
    font-size: 1.1rem;
  }
  .section {
    padding: 0;
    text-align: center;
  }
  .section__contenedor {
    width: 100%;
    font-size: 2rem;
    padding: 10px;
  }
  .section__contenedor h1 {
    margin-bottom: 20px;
  }
  .btn {
    font-size: 1.25rem;
    background-color: #0e0253;
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
  }
  .atracciones__contenedor div {
    width: 100%;
  }
  .atracciones__parrafo {
    height: auto;
  }
}

@media screen and (max-width: 376px) {
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    width: 30%;
    margin: 0 auto;
  }
  .header__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__item {
    margin: 1px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__link {
    font-size: 1rem;
    text-decoration: none;
    margin: 0 5px;
  }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../asset/header_isla.jpg);
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
  }
  .sectionMain__contenedor .sectionMain_video {
    width: 100%;
  }
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1.1rem;
    overflow: hidden;
  }
  .atracciones--dunes,
  .atracciones--mall,
  .atracciones--playas,
  .atracciones--castillos {
    width: 100%;
  }
  .slider__contenedor {
    display: none;
  }
  .slider__contenedor--2 {
    display: initial;
    width: 50%;
    overflow: hidden;
  }
  .foot {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .foot__footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot .foot__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contenedor__hoteles {
  width: 90vw;
  margin: 0 auto;
}

.titulo--hoteles {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  padding: 9px 0;
  color: #0e0253;
}

.contenedor__galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 560px;
  padding: 20px;
  grid-gap: 10px;
}

.contenedor__galeria .galeria__contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 7px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.contenedor__galeria .galeria__contenedor .galeria__img {
  width: 100%;
  height: 300px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.contenedor__galeria .galeria__contenedor .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 315px;
  background: rgba(0, 103, 123, 0.5);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contenedor__galeria .galeria__contenedor:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.contenedor__galeria .galeria__contenedor:hover > .capa .galeria__titulo {
  margin-top: 110px;
  margin-bottom: 10px;
}

.contenedor__galeria .galeria__contenedor .capa .galeria__titulo {
  color: #0e0253;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 150px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  margin-top: 130px;
  padding-bottom: 30px;
}

.contenedor__galeria .galeria__texto {
  margin-top: 20px auto;
  padding: 20px;
  overflow: initial;
}

.contenedor__galeria .galeria__contenedor:hover > .galeria__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.galeria__link {
  color: #0e0253;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 10px;
  border: 3px solid #3d9af3;
  opacity: 0.9;
}

.galeria__link:hover {
  background-color: rgba(233, 234, 239, 0.7);
}

.galeria__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=========MOBILE=======*/
@media screen and (max-width: 2000px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contenedor__galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 590px;
    padding: 20px;
    grid-gap: 10px;
  }
  .contenedor__galeria .galeria__contenedor {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    border-radius: 7px;
    -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}

@media screen and (max-width: 1400px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contenedor__galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 600px;
    padding: 20px;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo {
    margin: 0 auto;
  }
  .contenedor__galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: 560px;
    padding: 20px;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__link {
    font-size: 1rem;
  }
  .titulo--hoteles {
    font-size: 2rem;
  }
  .contenedor__galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: 590px;
    padding: 20px;
    grid-gap: 10px;
  }
  .capa {
    display: none;
  }
}

@media screen and (max-width: 376px) {
  .titulo--hoteles {
    font-size: 1.5rem;
  }
  .contenedor__hoteles {
    width: 90vw;
    margin: 0 auto;
  }
  .contenedor__galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: 670px;
    padding: 20px;
    grid-gap: 10px;
  }
  .capa {
    display: none;
  }
  .foot {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .foot .foot__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .foot__footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galeria__contenedor:hover > .capa .galeria__titulo {
    display: none;
  }
  .conedor__galeria .galeria__contenedor:hover > .capa {
    display: none;
    opacity: 1;
    visibility: visible;
  }
  .galeria__contenedor .capa .galeria__titulo {
    display: none;
    color: #0e0253;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 150px;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    margin-top: 130px;
    padding-bottom: 30px;
  }
  .galeria__contenedor:hover > .capa .galeria__titulo {
    display: none;
    margin-top: 110px;
    margin-bottom: 10px;
  }
  .galeria__contenedor .capa {
    display: none;
  }
}

.titulo--tours {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 9px 0;
  color: #0e0253;
}

.main__contenedor {
  width: 90vw;
  margin: 0 auto;
  border-radius: 5px;
}

.main__contenedor .galeria__contenedor .galeria__img {
  width: 100%;
  height: 300px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.main__contenedor .galeria__contenedor .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 315px;
  background: rgba(0, 103, 123, 0.5);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.main__contenedor .galeria__contenedor:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.main__contenedor .galeria__contenedor:hover > .capa .galeria__titulo {
  margin-top: 110px;
  margin-bottom: 10px;
}

.main__contenedor .galeria__contenedor:hover > .galeria__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main__contenedor .galeria__contenedor .capa .galeria__titulo {
  color: #0e0253;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 150px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  margin-top: 130px;
  padding-bottom: 30px;
}

.main__contenedor .excursiones__texto {
  margin-top: 20px auto;
  padding: 20px;
}

.main__galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 520px;
  padding: 20px;
  grid-gap: 10px;
}

.main__galeria .galeria__contenedor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow: hidden;
}

.galeria__link {
  color: #0e0253;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 10px;
  border: 3px solid #3d9af3;
  border-radius: 5px;
  opacity: 0.9;
}

.galeria__link:hover {
  background-color: rgba(233, 234, 239, 0.7);
}

.galeria__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sectionHistoria {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionHistoria__contenedor {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  gap: 50px;
  padding: 20px;
  margin: 20px 0;
}

.sectionHistoria__titulo {
  text-align: end;
  font-size: 2.7rem;
  color: #0e0253;
  padding: 0 20px;
}

.historia__parrafo {
  padding: 20px 20px 20px 0;
  text-align: justify;
}

.historia__img {
  width: 90%;
  max-height: 330px;
  border-radius: 20px;
}

.sectionTurismo {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionTurismo__contenedor {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  gap: 50px;
  padding: 20px;
  margin: 20px 0;
}

.sectionTurismo__titulo {
  text-align: start;
  font-size: 2.7rem;
  color: #0e0253;
  padding: 0 20px;
}

.turismo__parrafo {
  padding: 20px 20px 20px 0;
  text-align: justify;
}

.turismo__img {
  width: 90%;
  max-height: 330px;
  border-radius: 20px;
}

.sectionEconomia {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionEconomia__contenedor {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  gap: 50px;
  padding: 20px;
  margin: 20px 0;
}

.sectionEconomia__titulo {
  text-align: end;
  font-size: 2.7rem;
  color: #0e0253;
  padding: 0 20px;
}

.economia__parrafo {
  padding: 20px 20px 20px 0;
  text-align: justify;
}

.economia__img {
  width: 90%;
  max-height: 330px;
  border-radius: 20px;
}
/*# sourceMappingURL=main.css.map */