* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 90%;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  flex-wrap: wrap;
  background-image: url(../asset/pexels-streetwindy-3748827.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

.header__logo {
  width: 10%;
}

.header__list {
  display: flex;
  list-style: none;
  font-size: 1.4rem;
}

.header__link {
  margin: 0 10px;
  text-decoration: none;
  color: #0e0253;
  font-size: 1.4rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header__link:hover {
  border-bottom: 2px solid #3d9af3;
}

.contendor .contacto {
  padding: 50px 0;
}

.contenedor .contacto h1 {
  color: #0e0253;
  font-size: 2.8rem;
  margin: 20px 0;
  text-align: center;
}

.contenedor .contacto .contacto__contenedor .contacto__formulario {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contenedor .contacto .contacto__formulario .nombre,
.apellido,
.correo,
.contacto__pais,
.contacto__mensaje {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  padding: 15px 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  color: darkslategrey;
  transition: all 0.6s ease;
  margin-bottom: 20px;
}

.contenedor .contacto .nombre,
.apellido,
.correo,
.contacto__pais {
  width: 46%;
  margin-bottom: 20px;
}

.contenedor .contacto .contacto__mensaje {
  width: 96%;
  max-width: 96%;
  min-width: 96%;
  min-height: 100px;
  max-height: 300px;
}

.contenedor .contacto__formulario .nombre:focus,
.contacto__formulario .apellido:focus,
.contacto__formulario .correo:focus,
.contacto__formulario .contacto__pais:focus,
.contacto__formulario .contacto__mensaje:focus {
  border-bottom: 2px solid #0e0253;
}

.contenedor .contacto .btn {
  margin: auto;
  padding: 15px 25px;
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  border: none;
  background: none;
  background-color: #3d9af3;
  color: #0e0253;
  border-radius: 5px;
  cursor: pointer;
}

.contenedor .contacto .btn:hover {
  background-color: aqua;
}

.contenedor .foot {
  margin-top: 60px;
  padding: 40px 20px;
  background-color: #ccd1d6;
}

.foot .foot__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot__list .foot__item {
  list-style: none;
}

.foot__link {
  text-decoration: none;
  margin: 0px 10px;
  color: #0e0253;
  font-size: 1.1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-weight: bolder;
}
